$font-stack:    Helvetica, sans-serif;
$font-primary-size: 14px;
$primary-color: #333;

body {
  font: $font-primary-size $font-stack;
  color: $primary-color;
}

body .area {
  margin: 0 auto;
  height: 600px;
}

.scrollarea .scrollbar-container.vertical{
  left: 0;
}
