$radio-height: 17px;
$radio-width: 17px;
  
.sdkFilteringTags{

    .tags{
      li{
        margin: 5px 0 5px 0;
        padding:7px 0 7px 0;
        border-bottom:1px solid #f1f2f2;
        font-size: 13px;
        list-style-type: none;
    }
  }
    .radio {
    vertical-align: top;
    width: $radio-width;
    height: $radio-height;
    margin: 0 3px 0 0;
  }

  .radio + label {
    cursor: pointer;
  }

  .radio:not(checked) {
    position: absolute;
    opacity: 0;
  }
  .radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
  }
  .radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
  }
  .radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #008aff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
    opacity: 0;
    transition: all .2s;
  }
  .radio:checked + label:after {
    opacity: 1;
  }
  .radio:checked + label {
    font-weight: bold;
  }
  .radio:focus + label:before {
    box-shadow: 0 0 0 1px rgba(159,162,190,.5);
  }
}


 .filterArea {
  margin: 0 auto;
  height: 600px;
}

.filterArea .scrollbar-container.vertical{
  left: 0;
}